name: Examples

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  examples:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        example:
          - ml-small
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - name: Install
        run: |
          uv sync --dev
          uv pip install -e .
      - name: Run example
        working-directory: examples/${{ matrix.example }}
        run: uv run make
